body {
    background-color: #fafafa;
}

.mainpage{
    margin: auto;
    width: 350px;
    height: auto;
    top: 50%;
    left: 50%;
}

.signin {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 350px;
    height: 378px;
    border: 1px gray solid;
}

.instalogo{
    width: 175px;
    height: 51px;
    margin: 22px 86px;
}

.signform label {
    opacity: 0;
}