@font-face { 
    font-family: 'Arita-dotum-Medium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}


.instalogo{
    margin-top: 10px;
    width: 90px;
    height: 20px;
}
.right .home {
    width: 45px; 
    height: 45px;
}
.nav_container{
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;

    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-right: 12rem;
    padding-left: 13rem;
    align-items: flex-end;
    border-bottom: 0.7px solid #dbdbdb;
    z-index: 2;
}
.compass{
    width: 40px; 
    height: 25px;
}
.heart{
    width: 45px; 
    height: 45px;
    margin-top: 15px;
}
#search_input{
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    margin-bottom: 5px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-right: 13rem;
}

.profile_image{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #fafafa;
}



body{
    justify-content:center;
    background-color: #fafafa;
}

.username {
    font-weight: bold;
}

.username a {
    margin-top: 20px;
    margin-left: 10px;
}

.dm {
    width: 37px;
    height: 37px;
}

.main{
    background-color: #fafafa;
}

.card{
    border: 1px solid #4a4a4a;
    width:614px;
    background-color: #ffffff;
}

.comment{
    margin: 0rem 1rem 1rem 1rem;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 1rem;
}

header {
    height: 40px;
    padding-top: 20px;
    padding-left: 5px;
}

header img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #efefef;
}

.card_image img{
    width: 100%;
    margin-top: 10px;
}

.comment_form form{
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.comment_form form input{
    width: 550px;
    height: 30px;
    border: none;
    padding-left: 10px;
}
.info i{
    font-size: 1.5rem;
}

.main_left{
    float: left;
}

.comment_form form #submit{
    border: none;
    background-color: white;
}

.info{
    display: flex;
    justify-content: space-between;
}
.main_right {
    margin-left: 25px;
    float: left;
}
.main_right #fixed_nav{
    position: fixed;
    z-index: 1;
}
body {
    padding-top: 75px;
}


.dot3{
    display: right;
    margin-top: 20px;
    margin-right: 5px;
    float: right;
}

.story{
    font-family: 'Arita-dotum-Medium';
    font-weight: bold;
    color: #8f8f8f;
}
.suggest{
    font-family: 'Arita-dotum-Medium';
    font-size: 10px;
    color: #8f8f8f;
}
.max-small {
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}

.hashtag_post{
    margin-left: 13rem;
}

.card-bottom {
    margin-left: 15px;
}

.function1 {
    margin-top: 13px;
}

.change {
    float: right;
    margin-right: 20px;
}